@page
@model IndexModel
@{
    ViewData["Title"] = "Community Internet";
}

<h1 class="pb-3">Building a fair, accessible, and community-owned internet across Las Vegas.</h1>

<p>Access to the internet is a basic need for work, education, healthcare, and communication. In Las Vegas, many residents still face barriers to getting online. High monthly costs, unreliable service, strict contracts, and missing infrastructure in certain neighborhoods make internet access difficult or even impossible for some.</p>

<p>Vegas Open Network (VONet) aims to close these gaps by providing internet access with no monthly fees and, when needed, free equipment for those who can’t afford it. For many in our community, not having to pay for internet can make the difference between staying connected and affording essentials like medication, electricity, or car insurance.  </p>

<p>
    VONet is funded by donations, run by volunteers, and open to anyone who wants to join.
    There will be no monthly fees, contracts, or required payments. 
    Everyone who joins will follow the terms of the <a href="https://wiki.vonet.org/index.php?title=Network_Commons_License">Network Commons License</a>, which keeps the network open and shared. Volunteers can help set up your connection, or you can choose a DIY install with your own equipment.
</p>

<ul>
    <li>
        Want more details? <a href="https://wiki.vonet.org/">Check out the Wiki</a>
    </li>
    <li>
        Stay in the loop: <a href="https://forums.vonet.org">Join the Forums</a> for news and discussions and <a href="https://newsletter.vonet.org/?p=subscribe&id=1" target="_blank">subscribe to our newsletter</a>.
    </li>
    <li>
        Discover Other <a href="https://wiki.vonet.org/index.php?title=Community_Networks">Community Networks</a>
    </li>
    @* <li>
        Like what we're building? <a href="/donate">Support us with a donation</a>, every bit helps keep the project growing
    </li> *@
    <li>
        Got questions or feedback? <a href="/contact">Get in touch</a>, we’d love to hear from you!
    </li>
</ul>



